.CrashLogs{
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    center;
    padding:            4vw;
    overflow:           hidden;

    .details{
        position:           fixed;
        top:                8vh;
        left:               10vw;
        width:              80vw;
        min-width:          80vw;
        height:             80vh;
        min-height:         80vh;
        max-height:         80vw;
        overflow-y:           scroll;
        z-index:            1000;
        display:            none;
        flex-direction:     column;
        align-items:        center;
        justify-content:    center;
        gap:                24px;
        padding:            2vw;
        border-radius:      1vw;
        background-color:   #FFFFFF;
        box-shadow:         0 0 64px 64px rgba(0, 0, 0, .2);
        margin-bottom:      2vw;

        &.active{
            display:    flex;
        }

        h2{
            font-size:          2rem;
            font-weight:        700;
            color:              #000000;
        }

        button{
            display:            flex;
            align-items:        center;
            justify-content:    center;
            padding:            2vw;
            font-size:          1rem;
            font-weight:        700;
            width:              100%;
            border-radius:      1vw;
            border:             none;
            cursor:             pointer;
            transition:         0.3s;

            &:hover{
                background-color:   #e5e5e5;
            }
        }
    }
}